Nucleosome Occupancy Classified by Chromosome

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=np.loadtxt('dMean Occupancy/InVitro_dMean_sampled.txt',dtype=np.float64)

In [3]:
data = data[np.argsort(data[:,0])]

In [4]:
ch = data[:,0]
site = data[:,1]
level = data[:,2]

In [5]:
len(ch)

107745

In [6]:
fs = np.zeros(17,dtype = int)

In [7]:
x=0
for i in range(len(ch)):
    if ch[i-1]!=ch[i]:
        fs[x]=int(i)
        x = x+1
        print(i)
fs[16] = len(ch)

0
1682
9166
11615
25399
30549
32913
42746
47592
51416
58011
64337
73656
82138
89202
99176

In [8]:
print(fs)

[     0   1682   9166  11615  25399  30549  32913  42746  47592  51416
  58011  64337  73656  82138  89202  99176 107745]

In [9]:
for c in range(len(fs)-1):
    chc = data[fs[c]:fs[c+1]]
    df = pd.DataFrame(chc,columns=['ch','site','value'])
    df_sorted = df.sort_values(by='value', ascending=False)
    df_sorted['index'] = range(len(df_sorted))
    df_sorted = df_sorted[['index', 'ch', 'site', 'value']]
    ss = str(c+1)
    filename = 'ch'+ss
    df_sorted.to_csv('Classified Chromosomes/%s.csv'%(filename),index=False)
    print(filename)

ch1
ch2
ch3
ch4
ch5
ch6
ch7
ch8
ch9
ch10
ch11
ch12
ch13
ch14
ch15
ch16

In [10]:
data = pd.read_csv("Classified Chromosomes/ch1.csv")

In [11]:
data.shape

(1682, 4)

In [12]:
data.head()

   index   ch      site  value
0      0  1.0  168754.0  3.987
1      1  1.0  111872.0  3.573
2      2  1.0  111864.0  3.527
3      3  1.0   32507.0  3.522
4      4  1.0   32519.0  3.429

In [13]:
data.tail()

      index   ch      site   value
1677   1677  1.0  151513.0  0.0155
1678   1678  1.0  199915.0  0.0155
1679   1679  1.0  152126.0  0.0155
1680   1680  1.0   74995.0  0.0155
1681   1681  1.0  152139.0  0.0155

Convert File Format

In [14]:
import numpy as np
import pandas as pd

In [15]:
data=np.loadtxt('dMean Occupancy/InVitro_dMean_sampled.txt',dtype=np.float32)
print(data.shape)

(107745, 3)

In [16]:
sh = data.shape
sh[0]

107745

In [17]:
df = pd.DataFrame(data,columns=['ch','site','value'])

In [18]:
df.head()

    ch      site  value
0  1.0   92279.0  0.512
1  1.0   55643.0  0.257
2  1.0   59326.0  1.067
3  1.0  150176.0  0.881
4  1.0  195643.0  1.360

In [19]:
df.tail()

         ch      site   value
107740  9.0  358486.0  1.5250
107741  9.0  295806.0  0.0543
107742  9.0  368681.0  1.5750
107743  9.0   42499.0  0.9750
107744  9.0   70002.0  1.1310

In [20]:
df.to_csv('Classified Chromosomes/InVitro_dMean.csv',index=False)